<!-- frontend/src/app/app.component.html -->
<div class="container">
  <div class="form-container">
    <h2>Registrierung</h2>

    <form #userForm="ngForm" (ngSubmit)="registerUser($event)" method="post">
      <label for="username">Benutzername</label>
      <input type="text" id="username" [(ngModel)]="username" name="username" placeholder="Gib deinen Benutzernamen ein" required>
      <div *ngIf="userForm.form.controls['username']?.invalid && userForm.form.controls['username']" class="error-message">
        Der Benutzername ist erforderlich.
      </div>

      <label for="email">E-Mail-Adresse</label>
      <input type="email" id="email" [(ngModel)]="email" name="email" placeholder="Gib deine E-Mail-Adresse ein" required>
      <div *ngIf="userForm.form.controls['email']?.invalid && userForm.form.controls['email']" class="error-message">
        Die E-Mail-Adresse ist erforderlich.
      </div>

      <label for="password">Passwort</label>
      <input type="password" id="password" [(ngModel)]="password" name="password" placeholder="Gib dein Passwort ein" required minlength="8">
      <div *ngIf="userForm.form.controls['password']?.invalid && userForm.form.controls['password']" class="error-message">
        Das Passwort muss mindestens 8 Zeichen lang sein.
      </div>

      <button type="submit" [disabled]="!userForm.form.valid">Registrieren</button>
    </form>


    <p>Hast du bereits schon ein Konto? <a href="#">Hier einloggen</a></p>
  </div>

  <div class="welcome-container">
    <h2>Willkommen in unserem Dokumentenmanagementsystem</h2>
    <p>Ein einfaches und effizientes System zur Verwaltung all deiner Dokumente.</p>
  </div>
</div>

