<div class="container">
  <div class="form-container">
    <h2>Login</h2>

    <form #loginForm="ngForm" (ngSubmit)="loginUser($event)" method="post">
      <label for="email">E-Mail-Adresse</label>
      <input type="email" id="email" [(ngModel)]="email" name="email" placeholder="Gib deine E-Mail-Adresse ein" required>
      <div *ngIf="loginForm.form.controls['email']?.invalid && loginForm.form.controls['email']" class="error-message">
        Die E-Mail-Adresse ist erforderlich.
      </div>

      <label for="password">Passwort</label>
      <input type="password" id="password" [(ngModel)]="password" name="password" placeholder="Gib dein Passwort ein" required minlength="8">
      <div *ngIf="loginForm.form.controls['password']?.invalid && loginForm.form.controls['password']" class="error-message">
        Das Passwort muss mindestens 8 Zeichen lang sein.
      </div>

      <button type="submit" [disabled]="!loginForm.form.valid">Einloggen</button>
    </form>

    <p>Kein Konto? <a routerLink="/register">Hier registrieren</a></p>
  </div>

  <div class="welcome-container">
    <h2>Willkommen zurück!</h2>
    <p>Logge dich ein, um auf dein Dokumentenmanagementsystem zuzugreifen.</p>
  </div>
</div>
